doctype html
html
  head
    title Vérification d'email
  body
    h1 Vérification de votre adresse email
    p Bonjour #{username},
    p Merci de vérifier votre adresse email en cliquant sur le lien ci-dessous:
    a(href=verificationLink) Vérifier mon email
    p Si vous ne vous êtes pas inscrit sur notre plateforme, veuillez ignorer cet email.
    p Cordialement,
    p L'équipe de sécurité