doctype html
html
  head
    title Bienvenue
  body
    h1 Bienvenue sur notre plateforme
    p Bonjour #{username},
    p Nous sommes ravis de vous compter parmi nous.
    p Pour commencer, veuillez vérifier votre compte en cliquant sur le lien ci-dessous:
    a(href=verificationLink) Vérifier mon compte
    p Cordialement,
    p L'équipe de sécurité